<div class="code-editor well">
  <div class="panel panel-warning">
    <div class="panel-heading">
      Code editor
      <div class="pull-right">
        <div class="form-control-wrapper">
          <select class="form-control" ng-model="currentMode"  ng-options="mode.value as mode.name for mode in modes"></select>
          <span class="material-input"></span>
        </div>
      </div>
    </div>
    <loading>
      <md-progress-linear md-mode="indeterminate"></md-progress-linear>
    </loading>
    <div class="panel-body">

      <div class="panel panel-default code-area">
        <div class="panel-heading">Code here
          <md-button class="run-code pull-right" ng-click="execute(code)">Run</md-button>
        </div>
        <div class="panel-body">
          <div ng-model="code" ui-ace="{
                  useWrapMode : false,
                  showGutter: true,
                  theme:'clouds',
                  mode: currentMode,
                  firstLineNumber: 5,
                  onLoad: aceLoaded,
                  onChange: aceChanged,
                  codeFolding: 'mark-begin'
                }" style="width: 100%; height: 300px;"></div>
        </div>
      </div>

      <div class="panel panel-default output">
        <div class="panel-heading">Output here</div>
        <div class="panel-body">
          <pre class="output-area" ng-repeat="line in executionResult">{{line}}</pre>
          <pre class="output-errors" ng-show="!!error" style="color: #f00">Error: {{error}}</pre>
        </div>
      </div>

    </div>
  </div>
</div>
</div>
