<md-dialog class="add-member">
  <md-content>
    <md-subheader class="md-sticky-no-effect">Add a member</md-subheader>
    <div class="modal-body">

      <md-list>
        <md-item ng-repeat="person in people">
          <md-item-content>
            <div class="md-tile-content">
              <p class="user">{{person.name}} ({{person.status}})</p>

              <!--<p><a ui-sref="session({id: person.id})">Share invite</a></p>-->
              <!--<md-button md-no-ink class="md-primary">Copy</md-button>-->
              <!--<md-button md-no-ink class="md-warn" >Reject</md-button>-->
              <span class="share" tooltip="Share your link"><a ui-sref="session({id: person.id})" target="_blank"><i class="mdi-social-share"></i></a></span>
              <span class="copy" tooltip="Copy" clip-copy="compileLink(person.id)"><i class="mdi-content-content-copy"></i></span>
              <span class="remove" tooltip="Reject" ng-click="reject(person)"><i class="mdi-content-clear"></i></span>
            </div>
          </md-item-content>
        </md-item>
      </md-list>

      <form class="form-horizontal" novalidate name="form">
        <fieldset>
          <div class="form-group">
            <label for="select" class="col-lg-2 control-label">Role</label>

            <div class="col-lg-10">
              <select class="form-control" id="select" ng-model="newPerson.status" ng-options="status for status in statuses" required></select>
              <span class="material-input"></span>
            </div>
          </div>

          <div class="form-group">
            <label for="inputName" class="col-lg-2 control-label">Name</label>

            <div class="col-lg-10">
              <div class="form-control-wrapper">
                <input type="text" class="form-control empty" id="inputName" placeholder="Name" kl_vkbd_parsed="true" ng-model="newPerson.name" required><span
                class="material-input"></span></div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="cancel()" >Cancel</md-button>
    <md-button ng-click="join(newPerson)" class="md-primary" ng-disabled="form.$invalid">
      Invite
    </md-button>
  </div>
</md-dialog>
