<div class="question-list">
  <div class="panel panel-default">
    <div class="panel-heading">
      Question List
      <span class="question-add icon-preview icons-material pull-right">
        <i class="mdi-content-add-box" ng-click="showEditQuestionPopup($event)"></i>
      </span>
    </div>

    <progress>
      <bar ng-repeat="(type, value) in getStats(questions)" value="value" type="{{type}}"></bar>
    </progress>

    <div class="panel-body well">
      <div ng-model="questions">
        <md-content ng-hide="questions.length">
          <md-card>
            <h2>There are no questions yet!</h2>
            <p>Please push the "+" button and add first one.</p>
          </md-card>
        </md-content>
        <div class="list-group {{question.status}}"
             ng-show="questions.length"
             ng-repeat="question in questions"
             ng-class="{current: !!question.isCurrent}"
             ng-click="selectQuestion(question)">
          <a class="list-group-item">
            <h4 class="list-group-item-heading">{{question.text}}</h4>
          </a>

          <div class="question-list-control">
            <span class="question-edit icon-preview icons-material" ng-click="showEditQuestionPopup($event, question)">
              <i class="mdi-content-create"></i>
            </span>
            <span class="question-remove icon-preview icons-material" ng-click="removeQuestion($event, question)">
              <i class="mdi-content-clear"></i>
            </span>
          </div>

          <div class="list-group-item-footer clearfix">
            <div class="user-selected pull-left">
              <span class="user-name">{{question.author | person}}</span>
            </div>

            <div class="label-mark pull-right">
              <span ng-click="setQuestionState(question, label)"
                    style="cursor: pointer"
                    ng-repeat="(label, sclass) in states"
                    class="label label-{{sclass}}"
                    ng-class="{active: sclass == question.status}">
                {{label}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
