<md-tabs md-selected="selectedChat">
  <md-tab ng-repeat="chat in chats | access" md-on-select="setActive(chat)" label="{{chat.title}}">
    <div class="chat-tab panel-body" layout="column" layout-fill layout-align="space-around">

      <p ng-repeat="line in chat.messages">{{line.time | timeAgo}}-{{line.author | person}}: {{line.message}}</p>

      <form ng-submit="submit()">
        <md-text-float label="Add a message" ng-model="chat.lastMessage"></md-text-float>
      </form>


    </div>
  </md-tab>
</md-tabs>
