.code-editor{
  margin-bottom:20px;

  .panel-heading {
    background-color: @dark-cyan-lime-green-color;

    .form-control {
      border: none !important;
      color: @white-color !important;
      text-transform: uppercase;

      select option {
        background: #fff;
      }
      &:focus {
        border-bottom-color: @white-color !important;
      }
    }
  }

  .code-area, .output{

    &{
      margin-bottom: 10px;
      &:last-child{
        .reset-margin;
      }
    }

    &.panel{
      box-shadow: none;
    }

    .panel-heading {
      background-color: @light-gray-color;
      color: @dark-gray-color;
    }

    .panel-body{
      .reset-padding;
    }

    .output-area, .output-errors{
      .border-radius(0);
      .reset-outlines;
    }

    .output-area{
      color: @moderate-lime-green-color;
      background-color: @very-light-gray-color;
    }

    .output-errors{
      color: @bright-red-color;
      background-color: @very-light-gray-color;
    }
  }

  .run-code{
    padding: 0 5px;
    color: @dark-cyan-lime-green-color;
    border: 1px solid @dark-cyan-lime-green-color;
    background: @white-color!important;
    .opacity(0.84);

    &:hover{
      .opacity(1);
    }
  }
}
