/* Question List */
.question-list {
  .flex-wrapper;

  .panel {
    .flex-wrapper;
    .flex-column;

    .panel-heading {
      background-color: @dark-moderate-blue-color;
    }
    .progress {
      margin: 1px 0;
      height: 5px;
      .flex-grow-none;

      .progress-bar-warning {
        background-color: @soft-orange-color;
      }
    }

    .panel-body.well {
      .reset-padding;
      .reset-margin;
      overflow: auto;
      .flex-grow-base;
    }
  }

  .list-group {
    padding: 15px;
    .reset-margin;
    position: relative;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: #fff #fff #ddd #fff !important;

    &.ui-sortable-helper {
      border-color: @light-gray-color03;
      background: @white-color;
      opacity: 0.7;
    }

    &:last-child {
      .reset-border;
    }
    &.success {
      background-color: @light-gray-colorish-green-color;
    }
    &.warning {
      background-color: @light-gray-colorish-yellow-color;
    }
    &.danger {
      background-color: @light-gray-colorish-red-color;
    }
    &.current {
      border-color: @vivid-blue-color;
      .box-shadow(inset 0px 0px 5px 1px rgba(3, 169, 244, 0.5));
      .transition(all 0.5s ease-out);
    }

    &-item {
      padding: 0 20px 0 0;

      &:hover {
        .reset-outlines;
      }

      &-heading {
        font-size: @list-font-size;
      }

      &-footer {
        padding-top: 15px;
        clear: both;
      }
    }

    .question-list-control {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      top: 5px;
      right: 0;
      width: 20px;

      & i {
        font-size: @list-font-size;
      }

    }

    &:hover .question-list-control {
      visibility: visible;
      opacity: 1;
      .transition(opacity 0.5s ease-out 0.3s);
    }
  }

  .user-selected {
    .user-name {
      color: @bright-blue-color;
    }
    .user-avatar {
      .border-radius(50%);
      display: inline-block;
      width: 20px;
      height: @base-20-height;
    }
  }

  /* question icons */
  .question-edit,
  .question-remove,
  .question-add {
    cursor: pointer;
  }
  .question-add {
    margin: -4px -2px 0 0;
  }
  .question-edit i {
    color: @vivid-blue-color;
  }
  .question-remove i {
    color: @bright-red-color;
  }
  .question-add i {
    color: @white-color;
  }

}
