.video-conference {

  .panel-body{
    padding: 0;
  }

  .remote-videos {

    md-card {
      .reset-padding;

      min-width: 100px;

      .video-holder {
        position: relative;

        .peer-volume {
          position: absolute;
          bottom: 5px;
          z-index: 1;
        }
      }
    }
  }

  .local-video-holder {
    background: @light-gray-color;
  }

  video {
    width: 100%;
    display: block;
    -webkit-filter: contrast(1);
    filter: contrast(1);
  }

  .control-tools i {
    opacity: 0.84;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }
}

.add-member{

  .md-tile-content{
    padding: 0 15px;
  }

  form{
    margin-top: 10px;
  }
}
