html, body {
  height: @full-height;
  min-height: @full-height;
  background-color: #eee;
}

/* Main area */
.interviewer {
  height: @full-height;
  min-height: @full-height;
  position: relative;

  header {
    overflow: hidden;
    padding: 30px 30px 20px;

    .logo {
      float: right;
      display: block;
      height: 40px;
      width: 274px;
      text-indent: -9999px;
    }
  }

  footer {
    display: none;
    text-align: center;
  }

  .center {
    margin: auto;
  }
}
