html, body {
  .full-height;
  min-height: @full-size;
  background-color: #eee;
}

/* Main area */
.interviewer {
  height: @full-size;
  min-height: @full-size;
  position: relative;

  header {
    overflow: hidden;
    padding: 30px 30px 20px;

    .logo {
      background: url("../images/logo.png") no-repeat 0 0;
      float: right;
      display: block;
      height: 40px;
      width: 274px;
      text-indent: -9999px;
    }
  }

  footer {
    display: none;
    text-align: center;
  }

  .flex-container {
    position: relative;
  }

  .flex-item {
    &:nth-child(1), &:nth-child(3) {
      position: fixed;
      top: 20px;
      bottom: 20px;
      .flex-wrapper;
    }
    &:nth-child(1) {
      left: 0;

      & > * {
        .flex-wrapper;
      }
    }
    &:nth-child(3) {
      right: 0;
      .flex-column;
    }
  }

  .main-flex-item {
    .flex-wrapper;
    .flex-grow-twice;
    .flex-column;
    align-items: stretch;
    margin: 20px 25% 0;

    -webkit-align-self: auto;
    align-self: auto;
    -webkit-order: 0;
    order: 0;
  }

  /* BOOTSTRAP Components */

  /* Labels */
  .label {
    &-success {
      color: #5cb85c;
      background-color: transparent;

      &.active {
        background-color: #5cb85c;
        color: #fff;
      }
    }
    &-warning {
      color: #f0ad4e;
      background-color: transparent;

      &.active {
        background-color: #f0ad4e;
        color: #fff;
      }
    }
    &-danger {
      color: #d9534f;
      background-color: transparent;

      &.active {
        background-color: #d9534f;
        color: #fff;
      }
    }
  }

  /* Panels */
  .panel {
    width: @full-size;
    border-radius: 0;
    border: 0;
    margin-bottom: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .12), 0 1px 6px rgba(0, 0, 0, .12);

    & > .panel-heading {
      .uppercase;
      color: @white-color;
      border-radius: 0;
      border: none;
      opacity: 0.84;
      height: 40px;
      flex: 0 0 auto;
    }

    &:hover .panel-heading {
      opacity: 1;
      transition: opacity 0.3s ease-out 0.3s;
    }

    /* General */
    .panel-primary > .panel-heading {
      background-color: @bright-blue-color;
    }
    .panel-success > .panel-heading {
      background-color: @dark-cyan-lime-green-color;
    }
    .panel-warning > .panel-heading {
      background-color: @vivid-red-color;
    }
    .panel-danger > .panel-heading {
      background-color: @bright-red-color;
    }
    .panel-info > .panel-heading {
      background-color: @vivid-blue-color;
    }

    & > .panel-body {
      padding: 15px;
    }

    & > .panel-footer {
      background-color: rgb(83, 83, 83);
      border-radius: 0;
    }

  }

  /* Icons */
  .icon-preview {
    display: inline-block;
    cursor: pointer;

    span {
      display: none;
      position: absolute;
      background: black;
      color: @light-gray-color;
      padding: 5px 8px;
      font-size: 15px;
      font-family: Roboto;
      border-radius: 2px;
      z-index: 10;
    }
  }
  .icons-material {
    text-align: center;

    & i {
      font-size: 22pt;
      color: @white-color;
      display: inline-block;
    }
  }

  /* Tabs */
  .nav-tabs {
    & > li {
      & > a {
        .uppercase;
        font-weight: normal;
        border-radius: 0;

        &.icon-preview {
          padding: 4.5px 15px;
        }
      }

      &.active {
        & > a,
        & > a:hover,
        & > a:focus {
          background-color: rgba(255, 255, 255, 0.5) !important;
          border: 0 !important;
          color: @white-color !important;
        }
      }
    }
  }

  /* Dropdown */
  .dropdown-toggle {
    .uppercase;
    font-weight: normal;
    border-radius: 0;
    color: @white-color;
    margin: 0;
    line-height: 1.42857143;
    border: 1px solid @transparent-color;
    position: relative;
    display: block;

    &, &:focus, &:hover {
      background-color: @transparent-color;
      border: 0;
      color: @white-color;
      font-weight: 500;
      text-decoration: none;
      font-weight: normal;
    }
  }
  .dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    position: absolute;
    top: 30px /*100%*/;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: @white-color;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid @light-gray-color02;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    min-width: 126px;
    margin-top: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  .pull-right > .dropdown-menu {
    right: -16px;
    left: auto;
  }
  .open > .dropdown-menu {
    display: block;
  }
  .dropdown-menu > li > a {
    .lowercase;
  }

  /* Form elements */
  .input-group {

    input {
      width: @full-size;
    }

    .form-control-wrapper {
      display: table-cell;
      bottom: 0;
      padding: 0 5px;
      margin: 0;

      .form-control {
        background-color: @white-color;
        height: 32px;
        padding: 3px 5px;
      }
    }

    .icon-preview {
      display: table-cell;
    }
    .icons-material {
      position: absolute;
      top: 0px;
      right: 45px;
      z-index: 3;

      i {
        color: @dark-gray-color;

        &:hover {
          color: @bright-blue-color;
        }
      }

      .btn:hover {
        box-shadow: none;
      }

    }
  }

}

/* Angular Components */
md-dialog {
  .reset-padding !important;

  md-content {
    .reset-padding;

    .modal-body {
      .aside-base-padding;
    }

    .md-subheader.md-default-theme {
      font-size: @heading-font-size;
      .uppercase;
      color: @white-color;
      opacity: 0.84;
      background-color: @bright-blue-color;
      .bottom-base-margin;
    }

    .form-horizontal {
      .form-group {
        .reset-aside-margin;

        .link-field {
          .form-control {
            .italic;
            color: @bright-blue-color;
            border-bottom: 0;
            padding: 6px;
            height: 34px;
          }
        }

        select.form-control {
          .capitalize;
        }

        p {
          .aside-base-padding;
        }
      }
    }

    md-input-group, .md-input-group {
      .bottom-base-margin;
    }

    .md-button.md-default-theme:hover,
    .md-button.md-default-theme:focus {
      background-color: rgba(158, 158, 158, 0.2) !important;
    }

    .ace-tm .ace_print-margin {
      .reset-width;
      background: @transparent-color;
    }
  }
}

md-input-group input, md-input-group textarea,
.md-input-group input, .md-input-group textarea {
  width: @full-size !important;
}

md-backdrop.md-opaque.md-default-theme {
  position: fixed;
}

md-backdrop.md-opaque.md-default-theme ~ .interviewer {
  overflow: hidden;
}
